body {
    margin: 0
}

#navigation {
    color: #000;
    padding-left: 8px;
    height: 34px;
    padding-top: 5px;
    background: #FAFAFA;
    border-bottom: 2px solid #FAFAFA;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    top: 0;
    left: 0;
    margin: 0
}

#back, #forward, #refresh {
    color: #777;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: middle;
    line-height: 1px

}

.arrow-left:before {
    content: "\f060";
}

.arrow-right:before {
    content: "\f061";
}

.refresh-button:before {
    content: "\f021";
}

i {
    cursor: pointer;
}

input#url {
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 1px;
    height: 20px;
    font-size: 14px;
    padding: 2px;
    padding-left: 4px;
    width: 90%;
    line-height: 0;
    color: #777;
}

#view-container {
    position: relative;
}

#view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 28px);
}