body {
    margin: 0
}

#navigation {
    color: #000;
    padding-left: 8px;
    height: 34px;
    padding-top: 5px;
    background: #FAFAFA;
    border-bottom: 2px solid #FAFAFA;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    top: 0;
    left: 0;
    margin: 0
}

#back, #forward, #refresh {
    color: #777;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: middle;
    line-height: 1px

}

.arrow-left:before {
    content: "\f060";
}

.arrow-right:before {
    content: "\f061";
}

.refresh-button:before {
    content: "\f021";
}

i {
    cursor: pointer;
}

#omnibox {
    float: left;
    width: 80%;
    margin-right: 20px;
}

input#url {
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 1px;
    height: 20px;
    font-size: 14px;
    padding: 2px;
    padding-left: 4px;
    width: 100%;
    line-height: 0;
    color: #777;
}

#fave {
    float: left;
    color: #777;
}

#fave i {
    vertical-align: middle;
}

#fave-popup {
    display: none;
    position: fixed;
    right: 1px;
    color: #eee;
    top: 29px;
    width: 180px;
    height: 200px;
    z-index: 20;
    padding: 1px;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #eee;#
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 6px;
    border: 1px solid #777;
}

#list {
    float: left;
    display: block;
    width: 30px;
    font-size: 20px;
    color: #777;
    margin-left: 10px;
    margin-top: -1px;
}

#view-container {
    position: relative;
}

.view-instance {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 28px);
    visibility: visible;
}

.link {
    width:100%;
    height:32px;
    font-family:monospace;
    font-size:13px;
    text-decoration:none;
    text-align:left;
    display:block;
    line-height:32px;
}

.favicon{
    width:25px;
    height:25px;
    float:left;
    background:#eee
}


.fa-list {
    font-size: smaller;
}

#nav-body-tabs {
    overflow: auto;
    min-height: 32px;
}

.nav-tabs-favicon {
    align-content: flex-start;
}

.nav-tabs-title {
    flex: 1;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-family:monospace;
}

.nav-tabs-close {
    align-content: flex-end;
}

#nav-body-ctrls, #nav-body-tabs, #nav-body-views, .nav-tabs-tab {
    display: flex;
    align-items: center;
}

.nav-tabs-tab {
    min-width: 60px;
    width: 180px;
    min-height: 20px;
}

.nav-icons {
    fill: #000;
    width: 24px;
    height: 24px;
}