body {
    margin: 0;
    font-family:sans-serif!important;
    overflow-x: hidden;
}
.header{

}
#navigation {
  color: #000;
  padding-left: 8px;
  height: 47px;
  padding-top: 13px;
  background: #FAFAFA;
  border-bottom: 2px solid #FAFAFA;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  top: 0;
  left: 0;
  margin: 0;
}

#back, #forward, #refresh,#speed-dial {
    color: #777;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: middle;
    line-height: 1px

}

.arrow-left:before {
    content: "\f060";
}

.arrow-right:before {
    content: "\f061";
}

.refresh-button:before {
    content: "\f021";
}

i {
    cursor: pointer;
}

#omnibox {
    float: left;
    width: 80%;
    margin-right: 20px;
}

input#url {
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 1px;
    height: 20px;
    font-size: 14px;
    padding: 2px;
    padding-left: 4px;
    width: 100%;
    line-height: 0;
    color: #777;
}

#fave {
    float: left;
    color: #777;
}

#fave i {
    vertical-align: middle;
}

#fave-popup {
    display: none;
    position: fixed;
    right: 1px;
    color: #eee;
    top: 29px;
    width: 180px;
    height: 200px;
    z-index: 20;
    padding: 1px;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #eee;#
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 6px;
    border: 1px solid #777;
}

#list {
    float: left;
    display: block;
    width: 30px;
    font-size: 20px;
    color: #777;
    margin-left: 10px;
    margin-top: -1px;
}

#view-container {
    position: relative;
}

.view-instance {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(93vh - 28px);
    display: none;
}

.active {
    display: flex;
}

.link {
    width:100%;
    height:32px;
    font-family:monospace;
    font-size:13px;
    text-decoration:none;
    text-align:left;
    display:block;
    line-height:32px;
}

.favicon{
    width:25px;
    height:25px;
    float:left;
    background:#eee
}


.fa-list {
    font-size: smaller;
}

#nav-body-tabs {
    overflow: auto;
    min-height: 32px;
}

.nav-tabs-favicon {
    align-content: flex-start;
}

.nav-tabs-title {
    flex: 1;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-family:monospace;
}

.nav-tabs-close {
    align-content: flex-end;
}

#nav-body-ctrls, #nav-body-tabs, #nav-body-views, .nav-tabs-tab {
    display: flex;
    align-items: center;
}

.nav-tabs-tab {
    min-width: 60px;
    width: 180px;
    min-height: 20px;
    cursor: pointer;

    border-bottom: 1px solid #777;
    border-right: 1px solid #777;
}

.nav-icons {
    fill: #000;
    width: 24px;
    height: 24px;
}

.pin-sidebar{
    margin-left: 47px;
}

/*
Spee dial class
*/
.speed-dial-wrapper{
  padding-top: 80px;
  position: relative;
}
#google-search{
  background: #fff;
  padding: 15px 0px 5px 0px;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  outline: none;
  transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1)
}
#google-search figure img,
#google-search figure{
  margin: 0;
  padding: 0;
}

#google-search ul{
  position: relative;
  margin: :0;
  padding: :0;
}
#google-search ul li{
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
#google-search ul li.google-logo img{
  width: 100px;
  position:relative;
  left: -10px;
}
#google-search ul li.google-search-bar input{
  width: 100%;
  font-size: 16px;
  padding: 8px 8px;
  outline: none;
}
#google-search ul li.google-search-bar button{
  position: absolute;
  z-index: 9;
  display: block;
  right: -15px;
  top:0;
  background:#4584ee;
  padding: 10px 30px;
  border:1px solid #4584ee;
  outline: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#google-search ul li.google-search-bar button i{color:#fff;}
#google-search ul li:nth-child(1){
  width: calc( 15% - 2px );
}
#google-search ul li:nth-child(2){
  width: calc( 75% - 2px );
}
#google-search ul li {

}
.start-page-list-padding{
  margin-top: 50px;
}
.start-page-list{}
.start-page-list .list-site-background{
  min-height: 120px;
  background-size: cover!important;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  outline: none;
  transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1)
}
.start-page-list h1{
  font-size: 13px;
  color: #fff;
  text-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.start-page-list .add-site-button{
  position: absolute;
  top:40%;
  width: 100%;
}
.start-page-list .add-site-button span{color: #fff;}

.suggestion-list-padding{
  margin-top: 20px;
}
.speed-dial-wrapper a{
  text-decoration: none;
}
.suggestion-title{
  font-size: 16px;
  color: #fff;
  margin-bottom: 22px;
  text-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
/*show settings popup*/
#show-setting-button i{
  font-size: 17px;
  position: absolute;
  right: 22px;
  top: 20px;
  background: rgba(0, 0, 0, 0.65);
  padding: 9px 8px;
  border-radius: 100%;
  color: #fff;
  pointer:cursor;
  z-index: 99;
}
.startup-pop-up-settings{
  position: absolute;
  right: -403px;
  z-index: 99;
  width: 400px;
  min-height: 100%;
  height: 100vh;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0,0,0,0.08);
  padding: 20px;
  overflow-y: scroll;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.setting-active{
  right: 0!important;
  overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {

    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6588235294117647);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6588235294117647)
}
.transparent-background{
  background: rgba(255, 255, 255, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  display:none;
}
.startup-pop-up-settings {
  overflow-x: hidden;
  overflow-y: scroll;
}
.startup-pop-up-settings h1{
  font-size: 16px;
  margin:0;
  font-weight: bold;
}
.startup-pop-up-settings i{
  font-size: 17px;
  margin-top: 2px;
  pointer:cursor;
}
.startup-pop-up-settings .startup-separator{
  border-top: 1px solid #ccc9c9;
  margin: 21px 0;
}
.light-color,.dark-color{
  margin: 20px 0;
  position: relative;
  z-index: 9999;

}
.light-color span,.dark-color span{
  position: absolute;
  font-weight: 100;
  left: 68px;
  top: 19px;
}
 .theme-style .control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	cursor: pointer;
}

.theme-style .control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
/* Check mark */
.theme-style .control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}
.theme-style .control__indicator {
  position: relative;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}
.light-color .control__indicator{
  background: #e6e6e6;
}
.dark-color .control__indicator{
  background: #292828;
}

.theme-style .control--radio .control__indicator {
	border-radius: 50%;
}

/* Show check mark */
.theme-style .control input:checked ~ .control__indicator:after {
	display: block;
}
/* Radio button inner circle */
.theme-style .control--radio .control__indicator:after {
  top: 0;
  left: 0;
  padding: 16px 19px;
  font-family: FontAwesome;
  content: "\f00c";
  color: #479ee8;
  border-radius: 100%;
  border: 2px solid;
}

/* Disabled state */
.theme-style .control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}
/*Switch*/
.startup-switch-wrapper .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 23px;
}

.startup-switch-wrapper .switch input {display:none;}

.startup-switch-wrapper .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.startup-switch-wrapper .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.startup-switch-wrapper input:checked + .slider {
  background-color: #2196F3;
}

.startup-switch-wrapper input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.startup-switch-wrapper input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.startup-switch-wrapper .slider.round {
  border-radius: 34px;
}

.startup-switch-wrapper .slider.round:before {
  border-radius: 50%;
}
.wallpaper-title {
  font-size: 14px;
  font-weight: 500;
}
.recent-wallpaper,
.all-wallpaper{
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.recent-wallpaper .image,
.all-wallpaper .image{
  margin: 5px;
  min-height: 80px;
  background: #000;
  border-radius: 2px;
}
.wallpaper-button{
  margin-top:20px;
}
.wallpaper-button a{
  margin-left: 15px;
}

.clear-browsing-settings .browsing-title,
.download-wrapper-settings .download-title,
.block-adds-wrapper .features,
.appearance-wrapper .appearance{
  margin-bottom: 20px;
}
.block-adds-wrapper .block-adds-title,
.appearance-wrapper .appearance-switch-title{
  font-size: 14px;
  font-weight: 400;
}
.download-form-settings{
  position: relative;
}
.download-form-settings input[type="text"]{
  width: 100%;
}
.download-form-settings input[type="button"]{
  position: absolute;
  right: 0;
}

.clear-browsing-button button{
  margin-right: 20px;
}

.go-to-browsing-settings{padding: 11px 0;}
  .go-to-browsing-settings .go-to-browsing-button{
    position: relative;
  }
  .go-to-browsing-settings .go-to-browsing-button a{
    color:inherit;
  }
  .go-to-browsing-settings .go-to-browsing-button a i{
    margin-right: 10px;
    position: relative;
    top: 2px;
  }

.slick-slide {
    display: block;
}
/* Slick Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #0a0a0a;
    font-family: FontAwesome;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '\f053';
}
[dir='rtl'] .slick-prev:before
{
    content: '\f054';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '\f054';
}
[dir='rtl'] .slick-next:before
{
    content: '\f053';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.download-header{
  padding: 15px 0;
  background: #3367d6;
}
.download-header .header-title{
  margin-top: 5px;
  color:#fff;
}
.download-header .download-page-search-box{
  position: relative;
}
.download-header .download-page-search-box i{
    position: absolute;
    color: #fff;
    top: 11px;
    left: 10px;
    font-size: 17px;
}
.download-header .download-page-search-box input[type="text"]{
  background-color: #2850a7;
  width: 100%;
  padding: 10px 3px;
  padding-left: 35px;
  border: none;
  border-radius: 3px;
  color: #fff;
}
.download-header .download-page-search-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.download-header .download-page-search-box input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.download-header .download-page-search-box input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.download-header .download-page-search-box input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.download-icon img{
  width: 50px;
}
.download-history-list{
  width: 74%;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 27px;
}

.download-history-list .list{
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.55);
  margin-bottom: 15px;
  position: relative;
}
.download-history-list .list .download-icon{
  text-align: center;
  margin-top: 10px;
}
.download-history-list .download-content h1{
  font-size: 16px;
  font-weight: 700;
  margin: 7px 0 6px 0;
  color: #2850a7;
}
.download-history-list .download-content .download-url-show-in-folder{

}
.download-history-list .download-remove{
  position: absolute;
  right: 11px;
  top: -8px;
}
.deleted-download img{
  -webkit-filter: grayscale(100%);
  filter: gray;
}
.deleted-download .download-content a,
.deleted-download .download-content h1{
  color: gray;
  position: relative;
}
.deleted-download .download-content h1 span{
  position: relative;
}
.deleted-download .download-content h1 span:before{
  content: "";
  border-bottom: 1px solid gray;
  position: absolute;
  width: 100%;
  height: 1px;
  top: 9px;
}
.deleted-download .download-url-show-in-folder{
  display: none;
}
